./packages/frontend/node_modules/
packages/frontend/.devenv

**/**/.env
packages/frontend/.android
.direnv
.devenv
*~

packages/frontend/android
packages/frontend/ios

#pre-commit
.pre-commit-config.yaml
