**/**/.env
.pre-commit-config.yaml
packages/frontend/*
!packages/frontend/package.json
!packages/frontend/package-lock.json
!packages/frontend/.prettierignore
!packages/frontend/.prettierrc
!packages/frontend/tsconfig.json
!packages/frontend/app
!packages/frontend/app.json
!packages/frontend/components
!packages/frontend/constants
!packages/frontend/eslint.config.mjs
