**/**/.env
.pre-commit-config.yaml
*.DS_Store*
packages/frontend/*
!packages/frontend/package.json
!packages/frontend/package-lock.json
!packages/frontend/.prettierignore
!packages/frontend/.prettierrc
!packages/frontend/tsconfig.json
!packages/frontend/app
# !packages/frontend/app.json
!packages/frontend/components
!packages/frontend/constants
!packages/frontend/eslint.config.mjs
!packages/frontend/utils
!packages/frontend/assets
!packages/frontend/global.css 
!packages/frontend/app.config.js
!packages/frontend/metro.config.js
!packages/frontend/__tests__
*.db
!*.typ
!*.md
packages/backend/*
!packages/backend/package.json
!packages/backend/src
!packages/backend/utils
!packages/backend/dist
!packages/backend/bdd_doc
!packages/backend/Dockerfile
!packages/backend/docker-compose.yml
